#Buatlah sebuah program yang:
Meminta input dari pengguna:

Nama mahasiswa

NIM mahasiswa

Nilai ujian (dalam angka, 0â€“100)

Cek dan tampilkan tipe data dari setiap input.

Gunakan if-elif-else untuk menentukan kategori nilai, dengan kriteria sebagai berikut:

Nilai | Kategori

85 - 100 | A (Sangat Baik)

75 - 84 | B (Baik)

60 - 74 | C (Cukup)

40 - 59 | D (Kurang)

< 40 | E (Sangat Kurang)

==== Ekspektasi Output Jawaban : =====

Masukkan nama mahasiswa: Sarah

Masukkan NIM: 12345678

Masukkan nilai ujian (0-100): 81

Nama: Sarah (type: <class 'str'>)

NIM: 12345678 (type: <class 'str'>)

Nilai: 81 (type: <class 'int'>)

Hasil Evaluasi:

Mahasiswa: Sarah (NIM: 12345678)

Nilai Ujian: 81

Kategori Nilai: B (Baik)

In [3]:
nama_mahasiswa = "Sarah"
nim_mahasiswa = 12345678
nilai_ujian = 81

In [4]:
print("Masukkan nama mahasiswa: ", nama_mahasiswa)
print("Masukkan NIM: ", nim_mahasiswa)
print("Masukkan nilai ujian (0-100): ", nilai_ujian)

Masukkan nama mahasiswa:  Sarah
Masukkan NIM:  12345678
Masukkan nilai ujian (0-100):  81

In [5]:
print("Nama: ", nama_mahasiswa, f"(type: {type(nama_mahasiswa)})")
print("NIM: ", nim_mahasiswa, f"(type: {type(nim_mahasiswa)})")
print("Nilai: ", nilai_ujian, f"(type: {type(nilai_ujian)})")

Nama:  Sarah (type: <class 'str'>)
NIM:  12345678 (type: <class 'int'>)
Nilai:  81 (type: <class 'int'>)

In [6]:
print(f"Mahasiswa: {nama_mahasiswa} (NIM: {nim_mahasiswa})")
print(f"Nilai Ujian: {nilai_ujian}")

if nilai_ujian >= 85:
    print("Kategori Nilai: A (Sangat Baik)")
elif nilai_ujian >= 75:
    print("Kategori Nilai: B (Baik)")
elif nilai_ujian >= 60:
    print("Kategori Nilai: C (Cukup)")
elif nilai_ujian >= 40:
    print("Kategori Nilai: D (Kurang)")
else:
    print("Kategori Nilai: E (Sangat Kurang)")

Mahasiswa: Sarah (NIM: 12345678)
Nilai Ujian: 81
Kategori Nilai: B (Baik)

In [11]:
nama_mahasiswa = input("Masukkan nama mahasiswa: ")
nim_mahasiswa = int(input("Masukkan NIM: "))
nilai_ujian = int(input("Masukkan nilai ujian (0-100): "))

print("Nama: ", nama_mahasiswa, f"(type: {type(nama_mahasiswa)})")
print("NIM: ", nim_mahasiswa, f"(type: {type(nim_mahasiswa)})")
print("Nilai: ", nilai_ujian, f"(type: {type(nilai_ujian)})")

Masukkan nama mahasiswa: indra
Masukkan NIM: 114141
Masukkan nilai ujian (0-100): 80
Nama:  indra (type: <class 'str'>)
NIM:  114141 (type: <class 'int'>)
Nilai:  80 (type: <class 'int'>)

In [12]:
print("Nama: ", nama_mahasiswa, f"(type: {type(nama_mahasiswa)})")
print("NIM: ", nim_mahasiswa, f"(type: {type(nim_mahasiswa)})")
print("Nilai: ", nilai_ujian, f"(type: {type(nilai_ujian)})")

Nama:  indra (type: <class 'str'>)
NIM:  114141 (type: <class 'int'>)
Nilai:  80 (type: <class 'int'>)

In [13]:
print(f"Mahasiswa: {nama_mahasiswa} (NIM: {nim_mahasiswa})")
print(f"Nilai Ujian: {nilai_ujian}")

if nilai_ujian >= 85:
    print("Kategori Nilai: A (Sangat Baik)")
elif nilai_ujian >= 75:
    print("Kategori Nilai: B (Baik)")
elif nilai_ujian >= 60:
    print("Kategori Nilai: C (Cukup)")
elif nilai_ujian >= 40:
    print("Kategori Nilai: D (Kurang)")
else:
    print("Kategori Nilai: E (Sangat Kurang)")

Mahasiswa: indra (NIM: 114141)
Nilai Ujian: 80
Kategori Nilai: B (Baik)